body, ul{
    margin:0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    padding: 20px;
    display: block;
}

ul{
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

nav{
    background-color: rgb(255, 116, 51);
    position: fixed;
    width: 100%;
    top: 0;
}

h1{
    font-size: 80px;
}


header div{
    height: 65vh;
    display: flex;
    align-items: center;
   
}


header{
    background-image: url('../images/fond.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 58px;
}

main{
    margin-top: -50px;
}

main>section{
    padding: 50px 200px;
}

#section-1{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}

#section-1 section{
    border: 1px solid rgb(185, 181, 181);
    width: 30%;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgb(185, 181, 181);
    background-color: white;
    text-align: center;
}

img{
    width: 50%;
    height: auto;    
    object-fit: contain;
}



#div{
    display: flex;
}


h2{
    text-align: center;
}

.impair {
    background-color: rgb(226, 216, 216);
    
}

#div div{
    background-color: white;
    align-self: center;
    margin-left: -50px;
    padding: 15px;
    box-shadow: 0 10px 10px rgb(167, 167, 165);
    border: 1px solid rgb(172, 172, 169);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery div{
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
}

.gallery img{
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid #dee2a6;
}

#contact-div{
    display: flex;
}

#contact-div iframe{
    width: 50%;
    height: 400px;
    border: 0;
}

address{
    text-align: center;
    width: 50%;
    align-self: center;
}

footer{
    background-color: orange;
    padding: 50px 0;
    text-align: center;
}

footer a{
    display: inline;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

html,body{
    width:100%;
    overflow-x:hidden;
    }

@media(max-width:1200px){
    main > section{
        padding: 50px 125px;
    }

    .gallery div{
        width: 33%;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
    }

    .gallery{
        justify-content: flex-end;
    }

    .gallery img{
        width: 100%; 
    }
    img{
        width:100%;
    }
    .section-flex div{
        padding-left: 0;
        width: 100%;
    }

    #div{
        flex-direction: column;
    }

    #div div {
        justify-self: center;
        margin-left: 0;
    }
}

@media(max-width:992px){
    .gallery img{
        width: 100%;
    }
    .input-container div {
        width:100%;
    }

    .gallery{
        justify-content: flex-end;
    }

    .gallery div{
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
    }

    .gallery{
        justify-content: flex-end;
    }
}

@media(max-width:768px){
    .gallery img{
        width: 100%;
    }
    main > section{
        padding: 50px 30px;
    }

    ul{
        padding: 0;
    }
}

@media(max-width:567px){

    h1{
        margin-top: 10px;
        font-size: 50px;
    }

    .gallery img{
        width: 100%;
    }
    .input-container div {
        width:100%;
    }

    .gallery{
        justify-content: flex-end;
    }

    .gallery div{
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
    }

    #contact-div iframe{
        width: 100%;
        margin-bottom: 50px;
    }

    #contact-div{
        flex-direction: column;
        justify-content: space-between;
    }

    #section-1 section{
        padding: 25px 0;
        
    }
}
